@model MCBA_Models.Models.Customer
@{ ViewData["Title"] = "Accounts"; }

<div>
    <h1 class="display-4">Welcome, @Model.Name</h1>

    <h3>Your Accounts</h3>
    <table class="table table-dark">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
            <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
            <th></th>
        </tr>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@Html.DisplayFor(x => account.AccountNumber)</td>
                <td>@Html.DisplayFor(x => account.AccountType)</td>
                <td>@Html.DisplayFor(x => account.Balance)</td>
                <td>
                    <input type="hidden" name="customerID" value="@account.AccountNumber" />
                    <a class="btn btn-primary"
                       asp-action="Deposit" asp-route-id="@account.AccountNumber">
                        Deposit
                    </a>
                    <a class="btn btn-primary"
                       asp-action="Withdraw" asp-route-id="@account.AccountNumber">
                        Withdraw
                    </a>
                    <a class="btn btn-primary"
                       asp-action="Transfer" asp-route-id="@account.AccountNumber">
                        Transfer
                    </a>
                    <a class="btn btn-primary"
                       asp-action="Statements" asp-route-id="@account.AccountNumber">
                        View Transactions
                    </a>

                </td>
            </tr>
        }
    </table>
</div>
<div class="p-5"></div>
<h1> Statistics for Transactions </h1>
<div class="p-5"></div>
@section Styles {
    <link rel="stylesheet" href="~/css/Chart.css" />
}

<h2> Transactions Made Each Month </h2>

<div class="container">
    <canvas id="transactionChart"></canvas>
</div>
<div class="p-5"></div>
<h2> Transactions by Type </h2>
<div class="container">
    <canvas id="transactionTypeChart"></canvas>
</div>
@section Scripts {
    <script src="~/js/chart.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/chartjs-adapter-moment.js"></script>
    <script>
        var canvas = document.getElementById("transactionChart").getContext("2d");

        $.get("/Data/TransactionsPerMonthByAccount", function (transactionDates) {
            const labels = [];
            const data = [];
            for (const x of transactionDates) {
                labels.push(x.month);
                data.push(x.count);
            }

            const transactionChart = new Chart(canvas, {
                type: "bar",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Transactions",
                        data: data,
                        backgroundColor: "rgba(255, 99, 132, 0.2)",
                        borderColor: "rgba(255, 99, 132, 1)",
                        borderWidth: 1
                    }]
                },

            });
        });
    </script>

    <script>
        var canvas2 = document.getElementById("transactionTypeChart").getContext("2d");

        $.get("/Data/TransactionsPerTypeByAccount", function (transactionTypes) {
            const labels = [];
            const data = [];
            for (const x of transactionTypes) {
                labels.push(x.month);
                data.push(x.count);
            }

            const transactionTypeChart = new Chart(canvas2, {
                type: "pie",
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Transactions",
                        data: data,
                        backgroundColor: ["red", "blue", "green", "orange", "white"],
                        borderColor: "rgba(255, 99, 132, 1)",
                        borderWidth: 1
                    }]
                },

            });
        });
    </script>
}
